/*
* @Author: zengxianlin
* @Date:   2017-07-25 15:35:17
* @Last Modified by:   877529974@qq.com
* @Last Modified time: 2017-07-31 17:18:34
*/
html {
    color: #000;
    background:#fff;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100 % ;
    -ms-text-size-adjust: 100 %;
}
html * {
    outline: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
html, body {
    font-family: sans-serif;
    width:100%;
    height: 100%;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}
input, select, textarea {
    font-size: 100 %;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0;
}
abbr, acronym {
    border: 0;
    font-variant: normal;
}
del {
    text-decoration: line-through;
}
address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 500
}
ol, ul {
    list-style: none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100 % ;
    font-weight: 500;
}
q: before,q: after {
    content: '';
}
sub, sup {
    font-size: 75 % ;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sup {
    top: -.5em;
}
sub {
    bottom: -.25em;
}
ins, a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:link{
    text-decoration:none; /* 指正常的未被访问过的链接*/
}
a:visited{
    text-decoration:none; /*指已经访问过的链接*/
}
a:hover{
    text-decoration:none; /*指鼠标在链接*/
}
a:active{
    text-decoration:none; /* 指正在点的链接*/
}
